package views

import "echo-cognito-auth/models"

type HomeData struct {
	StravaClientID string
	User           *models.User
}

// Home is the home page of the application.
templ Home(hd HomeData) {
	@layout("Home", hd.User, templ.Join(introduction(), moreContent()))
}

templ introduction() {
	<p>Welcome to Echo-Cognito-Auth!</p>
}

templ moreContent() {
	<p>
		This is the home page.
	</p>
}
